.learncheck {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #9ED3AD 5px center/3em no-repeat;
} 

.review {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #9ED3AD 1px center/1em no-repeat;
} 

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("figs/caution.png");
}
.rmdimportant {
  background-image: url("figs/important.png");
}
.rmdnote {
  background-image: url("figs/note.png");
}
.rmdtip {
  background-image: url("figs/tip.png");
}
.rmdwarning {
  background-image: url("figs/warning.png");
}